*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

#producto-contenedor {
    display: grid;
    gap: 1rem;
    max-width: 60rem;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.iconoTrash {
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.iconoTrash:hover {
    background-color: gray;
}

.buttonPlus{
    background-color: black;
    color: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.buttonPlus:hover{
    background-color: midnightblue;
}

.buttonMinus{
    background-color: black;
    color: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.buttonMinus:hover{
    background-color: #983a3a;
}

