*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
background: rgb(191,191,191);
background: linear-gradient(0deg, rgba(191,191,191,1) 0%, rgba(215,67,67,1) 90%);
}

#producto-contenedor {
    display: grid;
    gap: 1rem;
    max-width: 60rem;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.iconoTrash {
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.iconoTrash:hover {
    background-color: rgb(128, 128, 128);
}

.buttonPlus{
    background-color: black;
    color: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.buttonPlus:hover{
    background-color: midnightblue;
}

.buttonMinus{
    background-color: black;
    color: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.buttonMinus:hover{
    background-color: #983a3a;
}


.tdCarritoFooter{
    padding-left: 2.5rem !important;
}

.footerColor{
    background: rgb(215,67,67);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(191,191,191,1) 49%);
}


/* BUTTON DOWN */

.goCartContainer {
    position: fixed;
    visibility: hidden;
    bottom: 4rem;
    right: 0rem;
    width: 4.6rem;
    height: 4.6rem;
    z-index: -1;
}

.goCartButton {
    width: 0rem;
    height: 0rem;
    background: #000;
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.goCartButton i{
    position: relative;
    top: 32%;
    left: 36%;
    transform: translate(-50%, -50%) scale(0);
    color: #fff;
    transition: .0s;
}

.show{
    z-index: 10;
    visibility: visible;
}

.show .goCartButton{
    animation: popup .3s ease-in-out;
    width: 4.6rem;
    height: 4.6rem;
    z-index: 11;
}

.show i{
    transform: scale(-50%, -50%) scale(1);
}

@keyframes popup{
    0%{
        width: 0rem;
        height: 0rem;
    }
    50%{
        width: 2rem;
        height: 2rem;
    }
    100%{
        width: 4.6rem;
        height: 4.6rem;
    }
}